@import url('https://fonts.googleapis.com/css2?family=Afacad:wght@400;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Afacad', sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #150627;
    color: white;
}
main{
    background: linear-gradient(180deg, #2829af , #010129);
    width: 55vw;
    max-height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
main>h1{
    padding-top: 1rem;
}
form{
    width: 100%;
    padding: 1rem 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-self: center;
}
.country-selection{
    display: flex;
    padding: 1rem 0;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}
.from-section , .to-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
select{
    width: 90%;
    outline: none;
    border-radius: 5px;
    padding: 0.3vw;
}
.amount{
    border: none;
    border-radius: 5px;
    padding: 0.5vw 3vw;
    text-align: center;
    outline: none;
}
.info{
    display: flex;
    align-items: center;
    justify-self: center;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 25px;
}
.info h3{
    font-size: 2vw;
    background-color: aliceblue;
    color: black;
    padding: 0.5vw;
    border-radius: 5px;
}
button{
    padding: 0.5vw 2vw;
    border: none;
    border-radius: 8px;
    font-size: large;
    background-color: #751d61;
    color: white;
    cursor: pointer;
}

@media screen and (max-width:696px) {
    main{
        width: 90vw;
    }
    .info h3{
        font-size: 3vw;
        padding: 1vw;
    }
    button{
        padding: 1vw 2.5vw;
    }
}